@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@mixin basic-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin headings {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}