$col-primary: #626f47;
$col-primary-light: #a4b465;
$col-secondary: #ffcf50;

$col-bg: #fefae0;
$col-bg-2: #ebe5be; 

$col-grey: #666666;
$col-text: #212a37;
$col-secondary-grey: #f0f0f0;

$border: 1px solid #f0f0f0;